*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, button, input, label {
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-wrap: balance;
}

blockquote, figure {
    margin: 0 0 1rem;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    hyphens: auto;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

:target {
    scroll-margin-block: 3rem;
}
