{% import "macros/icons.html" as icons %}

{% extends "default.html" %}

{% block main %}
<main aria-label="Content">
    <div class="container">
        <article itemscope itemtype="http://schema.org/BlogPosting">

            <header class="header">
                <h1 itemprop="name headline">{{ this.title }}</h1>
                <h2>
                    <span itemprop="author">
                        {% for author in this.extra.authors %}
                            <a href="{{ author.url | default(value = this.path ~ '#') | safe }}">
                                {{- author.name -}}
                            </a>
                            {%- if not loop.last -%}
                                &comma;
                            {%- endif -%}
                            {%- if author.contribution -%}
                                <sup><small>*</small></sup>
                            {%- endif -%}
                            {%- if not loop.last -%}
                                &#32;
                            {% endif %}
                        {% endfor %}
                    </span>
                </h2>
                {% if this.extra.contribution %}
                    <p>
                        <sup><small>*</small></sup>{{ this.extra.contribution }}
                    </p>
                {% endif %}
                <div>
                    {% for button in this.extra.buttons %}
                        <a class="btn" href="{{ button.url | safe }}">
                            {% if not button.no_icon %}
                                {{- icons::icon(name = button.name | lower) -}}
                                &nbsp;
                            {% endif %}
                            {{- button.name -}}
                        </a>
                    {% endfor %}
                </div>
                <h2>
                    {% set paper_button = this.extra.buttons | filter(attribute = 'name', value = 'Paper') | first %}
                    <a href="{{ this.extra.venue.url | default(value = paper_button.url | default(value = this.path ~ '#')) | safe }}">
                        <span itemprop="isPartOf" itemscope itemtype="http://schema.org/Periodical"><span itemprop="name">
                            {{- this.extra.venue.name -}}
                        </span></span>{% if this.extra.venue.date or this.date %}&nbsp;<time datetime="{{ this.extra.venue.date | default(value = this.date) | date(format='%+') }}" itemprop="datePublished">
                            {{- this.extra.venue.date | default(value = this.date) | date(format='%Y') -}}
                        </time>{% endif %}
                    </a>
                </h2>
            </header>
        
            <div class="content" itemprop="articleBody" id="content">
                {{ this.content | safe }}
            </div>

            {% block footer %}
                {% if config.extra.footer_text %}
                    <footer class="footer">
                        {{ config.extra.footer_text | markdown | safe }}
                    </footer>
                {% endif %}
            {% endblock %}

        </article>
    </div>
</main>
{% endblock main %}